<script>
    var map;
    var total_trips = 0
    var markers = [];
    var unique_markers = [];
    var pickup_circles = [];
    var dropoff_circles = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: {lat: 40.769, lng: -73.954}
        });
        // map.data.loadGeoJson('/api/geojson');

        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: ['polygon']
            },
            markerOptions: {
                icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            },
        });
        drawingManager.setMap(map);

        google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
            $('#img-load').show();
            drawingManager.setMap(null);

            var coordinates = (polygon.getPath().getArray());
            lats = []
            lngs = []
            for (i = 0;i < coordinates.length; i++) { 
                lats.push(coordinates[i].lat());
                lngs.push(coordinates[i].lng());
            }

            $.getJSON( "/api/trips?north="+Math.max(...lats)+"&south="+Math.min(...lats)+"&east="+Math.max(...lngs)+"&west="+Math.min(...lngs), function( data ) {

                for (i = 0; i < data.trips.length; i++) { 
                    pickup_dup_flg = 0;
                    dropoff_dup_flg = 0;

                    var pickup_point = new google.maps.LatLng(data.trips[i].pickup[1], data.trips[i].pickup[0]);
                    var dropoff_point = new google.maps.LatLng(data.trips[i].dropoff[1], data.trips[i].dropoff[0]);
                    
                    if(google.maps.geometry.poly.containsLocation(pickup_point, polygon) && google.maps.geometry.poly.containsLocation(dropoff_point, polygon)){
                        
                        var pickup_marker = new google.maps.Marker({
                            position: pickup_point,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                            time: data.trips[i].time,
                            center: {lat: data.trips[i].pickup[1], lng: data.trips[i].pickup[0]},
                            pickup_count: 1,
                            dropoff_count: 0,
                            map: map
                        });
                        
                        //Find duplicate marker and increment the count
                        for (j = 0; j < unique_markers.length; j++) {
                            if (markers[j].getPosition().equals(pickup_point)) {
                                pickup_marker['icon'] = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                                pickup_dup_flg = 1;
                                markers[j]['pickup_count']++;
                            }
                        }
                        markers.push(pickup_marker);
                        if(pickup_dup_flg == 0){
                            unique_markers.push(pickup_marker);
                        }

                        var dropoff_marker = new google.maps.Marker({
                            position: dropoff_point,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                            time: data.trips[i].time,
                            center: {lat: data.trips[i].dropoff[1], lng: data.trips[i].dropoff[0]},
                            pickup_count: 0,
                            dropoff_count: 1,
                            map: map
                        });

                        //Find duplicate marker and increment the count
                        for (k = 0; k < unique_markers.length; k++) {
                            if (markers[k].getPosition().equals(dropoff_point)) {
                                dropoff_marker['icon'] = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                                dropoff_dup_flg = 1;
                                markers[k]['dropoff_count']++;
                            }
                        }
                        markers.push(dropoff_marker);
                        if(dropoff_dup_flg == 0){
                            unique_markers.push(dropoff_marker);
                        }

                        total_trips = total_trips + 1;
                    }
                }

                //Create bubble chart
                for (i = 0; i < unique_markers.length ; i++) {
                    var pickupCircle = new google.maps.Circle({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35,
                        map: map,
                        visible: false,
                        center: unique_markers[i].center,
                        radius: unique_markers[i].pickup_count * 100
                    });
                    pickup_circles.push(pickupCircle);

                    var dropoffCircle = new google.maps.Circle({
                        strokeColor: 'green',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: 'green',
                        fillOpacity: 0.35,
                        map: map,
                        visible: false,
                        center: unique_markers[i].center,
                        radius: unique_markers[i].dropoff_count * 100
                    });
                    dropoff_circles.push(dropoffCircle);
                }

                $('#total').text(total_trips);
                $('#labels').show();
                $('#chart').hide();
                $('#filter').show();
                $('#reset').show();
                $('#img-load').hide();
            });
        });
    }
    
    filterMarkers = function (timefilter) {
        $('#img-load').show();
        for (i = 0; i < markers.length; i++) {
            marker = markers[i];
            if (marker.time == timefilter || timefilter.length === 0) {
                marker.setVisible(true);
            }
            else {
                marker.setVisible(false);
            }
        }
        for (i = 0; i < dropoff_circles.length ; i++) {
            circle = dropoff_circles[i];
            circle.setVisible(false);
        }
        for (i = 0; i < pickup_circles.length ; i++) {
            circle = pickup_circles[i];
            circle.setVisible(false);
        }
        $('#img-load').hide();
    }

    bubbleMap = function (maptype) {
        $('#img-load').show();
        for (i = 0; i < markers.length ; i++) {
            marker = markers[i];
            marker.setVisible(false);
        }
        if(maptype == 'pickup'){
            for (i = 0; i < dropoff_circles.length ; i++) {
                circle = dropoff_circles[i];
                circle.setVisible(false);
            }
            for (i = 0; i < pickup_circles.length ; i++) {
                circle = pickup_circles[i];
                circle.setVisible(true);
            }
        }
        if(maptype == 'dropoff'){
            for (i = 0; i < pickup_circles.length ; i++) {
                circle = pickup_circles[i];
                circle.setVisible(false);
            }
            for (i = 0; i < dropoff_circles.length ; i++) {
                circle = dropoff_circles[i];
                circle.setVisible(true);
            }
        }
        
        $('#img-load').hide();
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv2kIi654g_sa36wBzenqxGWY2LzDu148&libraries=drawing,geometry&callback=initMap">
</script>